#!/bin/bash -e

export A4C_LOOP_COUNT={{ a4c_loadtests[loadtest_instance].loop_count }}
export A4C_TEST_NAME={{ loadtest_instance }}
export A4C_USER_COUNT={{ a4c_loadtests[loadtest_instance].user_count }}
export A4C_RAMPUP_DELAY=0
export JMETER_HOME={{ jmeter_install_dir }}/apache-jmeter
export JMETER_RESULT_DIR={{ jmeter_install_dir }}/results
export A4C_PROTOCOL={{ alien_url | urlsplit('scheme') }}
export A4C_IP={{ alien_url | urlsplit('hostname') }}
export A4C_PORT={{ alien_url | urlsplit('port') }}
export A4C_BASE={{ alien_url | urlsplit('path') }}
export A4C_USR={{ a4c_admin_usr }}
export A4C_PWD={{ a4c_admin_pwd }}
export A4C_TEARDOWN=true
export A4C_TEMPLATE={{ a4c_loadtests[loadtest_instance].template }}

# to Create Deploy, wait for deployment finished, then eventually Undeploy Delete
export JMETER_PLAN={{ jmeter_install_dir }}/loadtests/application.jmx
 
echo "StartUp" && export A4C_UP_COUNT=${A4C_USER_COUNT} && $JMETER_HOME/bin/jmeter.sh -n -JloopCount=${A4C_LOOP_COUNT} -JtearDown=${A4C_TEARDOWN} -JresultFolder=$JMETER_RESULT_DIR -JstartUp_user_count=$A4C_UP_COUNT -JtearDown_user_count=$A4C_DOWN_COUNT -JapplicationNamePrefix=${A4C_TEST_NAME} -JtopologyTemplateVersionId=$A4C_TEMPLATE -Ja4c_ip=$A4C_IP -JrampUp=$A4C_RAMPUP_DELAY -Ja4c_port=$A4C_PORT -Ja4c_user=$A4C_USR -Ja4c_pwd=$A4C_PWD -Ja4c_protocol=$A4C_PROTOCOL -Ja4c_base=$A4C_BASE -t $JMETER_PLAN -l $JMETER_RESULT_DIR/$A4C_TEST_NAME.jtl -j $JMETER_RESULT_DIR/$A4C_TEST_NAME.log

