server {

{% if (securize_nginx) %}
        listen {{ a4c_front_port }} ssl http2;
        listen [::]:{{ a4c_front_port }} ssl http2;
{% else %}
        listen {{ a4c_front_port }};
        listen [::]:{{ a4c_front_port }} ipv6only=on;
{% endif %}
{% if (securize_nginx or securize_a4c) %}
        ssl_certificate /etc/nginx/ssl/{{ inventory_hostname }}{{ ssl_host_cert_suffix }};
        ssl_certificate_key /etc/nginx/ssl/{{ inventory_hostname }}{{ ssl_host_key_suffix }};
{% endif %}

        root /usr/share/nginx/html;
        index index.html index.htm;

        server_name {{ a4c_front_server_name if (a4c_front_server_name is defined) else inventory_hostname }};

{% if a4c_front_location_path is defined and a4c_front_location_path != "" %}
        location ~ ^{{ a4c_front_location_path }}/(.*)$ {
{% else %}
        location / {
{% endif %}
{% if dns_resolver is defined %}
                resolver: {{ dns_resolver }};
{% endif %}
                try_files $uri $uri/ =404;

                proxy_connect_timeout      1000;
                proxy_send_timeout         1000;
                proxy_read_timeout         1000;
                send_timeout               1000;
        }
}
