[Unit]
Description=Consul Server
Requires=network-online.target
After=network-online.target

[Service]
User=centos
Restart=on-failure
WorkingDirectory=/home/centos/consul
ExecStart=/bin/bash -c './consul agent -ui -client 0.0.0.0 -server -bootstrap-expect 1 -data-dir ./data'
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
