[global]
cert = /etc/pki/ca-trust/source/anchors/artemis_ca.crt
trusted-host=nexus.technique.artemis
index-url=http://nexus.technique.artemis/repository/PyPi/simple
index=http://nexus.technique.artemis/repository/PyPi/pypi
