kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ k8srole_name }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
  - apiGroups: ['policy']
    resources: ['podsecuritypolicies']
    verbs: ['use']
    resourceNames: ['privileged']
