#!/bin/bash

{{ '{{' }} if key "service/yorc/leader" {{ '}}' }}

leader="{{ '{{' }} key "service/yorc/leader" {{ '}}' }}"
me="{{ inventory_hostname }}{{ appendable_private_domain_name }}"
leaderName="$( cut -d ':' -f 1 <<< $leader )"
echo "$(date) INFO leader is $leaderName"

if [ "$me" = "$leaderName" ]; then
    if [ "$1" = "-f" ]; then
      echo "$(date) INFO Syncing files before becoming leader $leaderName"
      rsync -Pavzh --delete -e "ssh -o 'StrictHostKeyChecking no' -i ~/.ssh/{{ inventory_hostname }}{{ appendable_private_domain_name }}" $leaderName:{{ yorc_working_dir }}/ {{ yorc_working_dir }}
      rc=$?
      if [ $rc -eq 0 ]; then
         echo "$(date) INFO Sync succeeded"
      else
         echo "$(date) ERROR Sync failed, rc=$rc"
      fi
    else
      echo "$(date) INFO I am the leader, do nothing"
    fi
else
    echo "$(date) INFO Syncing files from $leaderName"
    rsync -Pavzh --delete -e "ssh -o 'StrictHostKeyChecking no' -i ~/.ssh/{{ inventory_hostname }}{{ appendable_private_domain_name }}" $leaderName:{{ yorc_working_dir }}/ {{ yorc_working_dir }}
    rc=$?
    if [ $rc -eq 0 ]; then
       echo "$(date) INFO Sync succeeded"
    else
       echo "$(date) ERROR Sync failed, rc=$rc"
    fi
fi

{{ '{{' }} else {{ '}}' }}

echo "$(date) INFO no leader is elected yet"

{{ '{{' }} end {{ '}}' }}
