{
  "resources_prefix": "YORC_",
  "workers_number": 20,
  "working_directory": "{{ yorc_work_dir }}",
  "server_id": "{{ inventory_hostname }}",
  "locations_file_path": "{{ yorc_install_dir }}/config.locations.json",
  "ansible": {
    "use_openssh": true,
    "connection_retries": 3,
    "hosted_operations": {
      "unsandboxed_operations_allowed": true
    }
  },
  "terraform": {
    "plugins_dir": "/var/terraform/plugins"
  }
}
