#!/bin/bash

{{ '{{' }} if key "service/a4c/leader" {{ '}}' }}

leader="{{ '{{' }} key "service/a4c/leader" {{ '}}' }}"
me="{{ inventory_hostname }}{{ appendable_private_domain_name }}"
leaderName="$( cut -d ':' -f 1 <<< $leader )"
echo "- $(date) : leader is $leaderName"

if [ "$me" = "$leaderName" ] && [ "$1" != "-f" ]; then
    echo "I am the leader, do nothing"
else
    echo "Syncing files from $leaderName"
    rsync -Pavzh -e "ssh -o 'StrictHostKeyChecking no' -i ~/.ssh/{{ inventory_hostname }}" $leaderName:{{ a4c_working_dir }} {{ a4c_working_dir }}
fi

{{ '{{' }} else {{ '}}' }}

echo "- $(date) : no leader is elected yet"

{{ '{{' }} end {{ '}}' }}
