consul {
  address = "{{ inventory_hostname }}{{ appendable_private_domain_name }}:{{ consul_https_port if consul_tls else consul_http_port }}"
  retry {
    enabled = true
    attempts = 12
    backoff = "250ms"
  }
  ssl {
    enabled = {{ 'true' if consul_tls else 'false' }}
    verify = true
    cert = "/etc/consul_template/ssl/{{ inventory_hostname }}{{ ssl_host_cert_suffix }}"
    key = "/etc/consul_template/ssl/{{ inventory_hostname }}{{ ssl_host_key_suffix }}"
    ca_cert = "/etc/consul_template/ssl/{{ ssl_ca_cert_name }}"
  }
}

template {
  source = "/etc/consul_template/a4c-sync.ctpl"
  destination = "/var/lib/consul_template/a4c-sync.sh"
  perms = 0700
  command = "/var/lib/consul_template/a4c-sync.sh -f >> {{ a4c_log_dir }}/sync.log 2>&1"
}
