[Unit]
Description=Consul Server

[Service]
User={{ consul_user }}
Restart=on-failure
WorkingDirectory={{ consul_install_dir }}
ExecStart=/bin/bash -c './consul agent -config-file ./server-config.json'
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
