
    upstream yorc {
{% for host in groups['yorc'] %}
        server {{host}}:{{yorc_port}};
{% endfor %}
    }

    server {

{% if (yorc_tls) %}
        listen {{ yorc_port }} ssl http2;
        listen [::]:{{ yorc_port }} ssl http2;
        ssl_certificate /etc/nginx/ssl/{{ inventory_hostname }}{{ ssl_host_cert_suffix }};
        ssl_certificate_key /etc/nginx/ssl/{{ inventory_hostname }}{{ ssl_host_key_suffix }};
        ssl_session_cache shared:SSL:10m;
{% else %}
        listen {{ yorc_port }};
        listen [::]:{{ yorc_port }};
{% endif %}

        location / {
{% if dns_resolver is defined %}
            resolver: {{ dns_resolver }};
{% endif %}
            proxy_pass {{ 'https' if yorc_tls else 'http' }}://yorc;
            # the A4C/Yorc plugin make long polling request to Yorc server
            # we need to ensure the timeout is > 'socketTimeout' orchestrator configuration
            # to avoid 504 errors
            proxy_connect_timeout      1000;
            proxy_send_timeout         1000;
            proxy_read_timeout         1000;
            send_timeout               1000;
        }
    }
