consul {
  address = "{{ inventory_hostname }}{{ appendable_private_domain_name }}:{{ '8501' if consul_tls else '8500' }}"
  retry {
    enabled = true
    attempts = 12
    backoff = "250ms"
  }
  ssl {
    enabled = {{ 'true' if consul_tls else 'false' }}
    verify = true
    cert = "/etc/consul_template/ssl/{{ inventory_hostname }}{{ ssl_host_cert_suffix }}"
    key = "/etc/consul_template/ssl/{{ inventory_hostname }}{{ ssl_host_key_suffix }}"
    ca_cert = "/etc/consul_template/ssl/{{ ssl_ca_cert_name }}"
  }
}

template {
  source = "/etc/consul_template/a4c.conf.ctpl"
  destination = "/etc/nginx/conf.d/a4c.conf"
  command = "sudo systemctl reload nginx"
}
