[Unit]
Description={{ component_name }} consul template for rsync
After=consul.service

[Service]
User={{ component_user }}
Restart=on-failure
WorkingDirectory=/var/lib/consul_template
ExecStart=/var/lib/consul_template/consul-template -config /etc/consul_template/{{ component_name }}/consul_template.conf
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGKILL
ExecStop=/bin/bash -c "echo '' > /var/lib/consul_template/{{ component_name }}/{{ component_name }}-sync.sh"

[Install]
WantedBy=multi-user.target
