
export JAVA_OPTIONS="-server -showversion -XX:+AggressiveOpts {{ a4c_jvm_options }} {{ a4c_jvm_jmx_options }} -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=\"{{ a4c_log_dir }}\" -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -XX:+ScavengeBeforeFullGC -XX:+CMSScavengeBeforeRemark -XX:+DisableExplicitGC"
