-Djava.net.preferIPv4Stack=true -Djava.rmi.server.hostname={{ inventory_hostname }}{{ appendable_private_domain_name }} -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=6000 -Dcom.sun.management.jmxremote.rmi.port=6000 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
