{
  "storage": {
    "reset": true,
    "stores": [
      {
        "implementation": "fileCache",
        "name": "fileStore",
        "types": [
          "Deployment"
        ]
      },
      {
        "implementation": "elastic",
        "name": "elastic",
        "migrate_data_from_consul": {{ yorc_migrate_data_from_consul|default(true) }},
        "types": [
          "Log",
          "Event"
        ],
        "properties": {
          "es_urls": "{{ es_node_list | list | join (',') }}",
{% if (elasticsearch_tls) %}
          "ca_cert_path": "{{ ca_file_path }}",
          "cert_path": "{{ hostcert_file_path }}",
          "key_path": "{{ hostkey_file_path }}",
{% endif %}
          "es_query_period": "5s",
          "es_force_refresh": false,
          "es_refresh_wait_timeout": "5s",
          "max_bulk_size": 4000,
          "max_bulk_count": 1000,
          "index_prefix": "yorc_",
          "trace_requests": false
        }
      }
    ]
  }
}
