{
  "storage": {
    "stores": [{
       "name": "fileStore",
       "implementation": "fileCache",
       "migrate_data_from_consul": true,
       "types": ["Deployment", "Log", "Event"]
     }]
  }
}
