{
  "storage": {
    "stores": [{
       "name": "fileStore",
       "implementation": "fileCache",
       "migrate_data_from_consul": {{ yorc_migrate_data_from_consul|default(true) }},
       "types": ["Deployment", "Log", "Event"]
     }]
  }
}
