upstream consul {
{% for host in groups['consul'] %}
        server {{host}}:{{ consul_https_port if _consul_tls else consul_http_port }};
{% endfor %}
}


server {
        listen {{ consul_front_port }}{{ ' default ssl' if securize_nginx else '' }};
{% if (securize_nginx or _consul_tls) %}
        ssl_session_timeout 10m;
        ssl_certificate /etc/nginx/ssl/{{ inventory_hostname }}{{ ssl_host_cert_suffix }};
        ssl_certificate_key /etc/nginx/ssl/{{ inventory_hostname }}{{ ssl_host_key_suffix }};
        ssl_verify_client off;
        ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers RC4:HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers on;
{% endif %}
        location / {
{% if dns_resolver is defined %}
                resolver {{ dns_resolver }};
{% endif %}
                proxy_pass {{ 'https' if _consul_tls else 'http' }}://consul;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-Port $server_port;
{% if (securize_nginx) %}
                #proxy_ssl_session_reuse on;
                # Force https
                proxy_redirect http:// https://;
{% endif %}
                proxy_connect_timeout      1000;
                proxy_send_timeout         1000;
                proxy_read_timeout         1000;
                send_timeout               1000;
        }
}
